// toc.scss, navbar.scss, sidebar.scss

.toc-place-holder {
  // 从原本距离导航栏 2rem 改为 5rem
  top: calc(var(--navbar-height) + 5rem);
}

#toc {
  left: calc(100% + 2rem);

  //隐藏目录文字「此页内容」
  .toc-header {
    visibility: hidden;
  }
}

// .has-toc .sidebar-links ul.sidebar-sub-headers {
//   display: block !important;
// }

.sidebar-links ul.sidebar-sub-headers {
  padding-left: 2rem;
  font-size: .95em;
}

// .sidebar-sub-headers .sidebar-link:before {
//   content: "-";
//   padding-right: 4px;
//   float: left;
// }

.sidebar-sub-headers .sidebar-link.active {
  color: var(--theme-color);
}

.sidebar-sub-headers .sidebar-link {
  color: var(--light-grey);
}

.sidebar-heading.active {
  border-left-color: var(--theme-color);
  background: var(--theme-color-mask);
  color: var(--theme-color);
}

.sidebar-link.active {
  /* border-left-color: var(--theme-color); */
  /* background: var(--theme-color-mask); */
  color: var(--theme-color);
  font-weight: 500;
}
.sidebar-link.active {
  border-left-color: #ffffff00;
  background: none;
  color: var(--theme-color);
  font-weight: 500;
}
.sidebar-group .sidebar-link {
  padding-left: 2.5rem;
}
.sidebar a {
  display: inline-block;
  color: #777;
  font-weight: normal;
}
.back-to-top{
  bottom: 16rem;
}
:root {
  --sidebar-width: 17rem;
}
:root {
  --home-page-width: 1160px;
}
:root {
  --content-width: 800px;
}
#waifu{
  left: calc(100vw - 200px);
  z-index: 999;
  transition: transform .3s ease-in-out, bottom 3s ease-in-out, left 1s ease-in-out;
}
@media (min-width: 1300px) {
  .has-toc #toc {
      display:block
  }
  .theme-container.has-toc .page {
    padding-right: 16rem;
}
.has-toc .sidebar-links ul.sidebar-sub-headers {
  display: none;
}
#waifu{
  left: 0 !important;
}
#waifu-tool{
  left: 185px;
}
}
.navbar .logo {
  height: 60px;
  transition: transform 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, filter 0.25s ease-in-out 0s !important;
}
.home.project .hero img {
  display: block;
  max-width: 100%;
  max-height: 280px;
  transition: transform 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s, filter 0.25s ease-in-out 0s !important;
}
html[data-theme=dark] .home.project .hero img {
  filter: invert(100%);
}
html[data-theme=dark] .navbar .logo {
  filter: invert(100%);
}
.navbar .site-name {
  line-height: 58px;
}
@media (min-width: 959px) {
  .home.project .hero {
    margin-top: calc(50vh - 210px);
  }
}

.iframediv{
  overflow: auto;
}
.tab-item table{
  display: table;
}
.tab-list {
  border: 2px solid var(--theme-color);
}
.tab-list-nav {
  border-radius: 4px 4px 0 0;
  background: var(--theme-color);
}
.tab-item {
  border-radius: 8px;
}
.tab-list-nav-item{
  color: #fff;
}
.tab-list-nav-item.active {
  color: var(--tab-nav-text-color);
}
.tab-list-nav-item:hover {
  color: var(--tab-nav-text-color);
}

#main-content table tr:nth-child(2n-1){
  background-color: var(--theme-color-mask);
  }
th, td {
    border-color: var(--theme-color);
}